<div class="columns is-flex is-justify-content-center">

  <form class="box column is-one-quarter" action="/auth/login" method="post">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input is-rounded" type="email" name="email" />
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input
          class="input is-rounded"
          type="password"
          placeholder="********"
          name="password"
        />
      </div>
    </div>

    <div class="is-flex is-justify-content-center">
      <button type="submit" class="button is-success">Log in</button>
    </div>
  </form>
</div>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}