
<form class="box">
   <div class="field">
      <label class="label">Email</label>
      <div class="control">
         <input class="input is-rounded " type="email" placeholder="e.g. alex@example.com">
      </div>
   </div>
   <div class="field">
      <label class="label">Password</label>
      <div class="control">
         <input class="input is-rounded" type="password" placeholder="********">
      </div>
   </div>

   <button class="button is-link">Log in</button>
</form>

{{#if errorMessage}}
{{errorMessage}}
{{/if}}