<h1>{{Roadruner}}</h1>

<body>
<section class="fondo">
    <video id="myVideo" src="/images/video.mp4" autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg"></video>
  </section>
  </div>
</section>

<section class="presentation first">
				<div class="product-presentation">
					<h1>Simple. Personnel. Create your route in real time </h1>
					<p>
						Roadrunner is an application that allows you to create, share and save
            your training routes. Available for iPhonen, BlackBerry, Windows Phone, 
            Android and Nokia.
            
					</p>
					
					<div class="small-images">
						<div class="small">
							<img
								src="/images/google-maps-.png"
							/>
						</div>
						<div class="small">
							<img
								src="/images/share-icon-23.jpeg"
							/>
						</div>
						<div class="small">
							<img
								src="https://cdn.shopify.com/s/files/1/2654/0420/products/RECONSPARK_HEADSET_8.png?v=1571871155"
							/>
						</div>
					</div>
				</div>
				<div class="image-presentation">
					<img
						src="/images/cel-map.png"
					/>
				</div>
			</section>
		</header>


<footer>
			<div class="column">
				<h3>Aide</h3>
				<p>contact@mail.com</p>
				<p>Contact us</p>
			</div>
			
			<div class="column">
				<h3>Social Media</h3>
				<p>Facebook</p>
				<p>Twitter</p>
				<p>Instagram</p>
			</div>
		</footer>
</body>

