<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">
          <img src="/images/logo2.png" alt="logo" class="image is-200x200" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Home
          </a>

          <a href="/routes/list" class="navbar-item">
            Routes
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Your Profile
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                Your routes
              </a>
              <a href="/routes/create" class="navbar-item">
                Create route
              </a>
              <a class="navbar-item">
                Contact
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons is-flex is-align-content-center">
              <form id="logout-form" action="/auth/logout" method="POST" >
              <a href="/auth/signup" class="button is-light">
                <strong>Sign up</strong>
              </a>
              <a href="/auth/login" class="button is-light">
                Log in
              </a>
                <button type="submit" class="button is-light" >Logout</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>