<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
          <img src="/images/Image2.png" alt="logo" width="200" height="50" />
       
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Home
          </a>

          <a href="/routes/list" class="navbar-item">
            Routes
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/auth/profile">
              Profile
            </a>
            {{#if authLoggedIn}}
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/auth/profile">
                Your Profile
              </a>
              <a class="navbar-item" href="/routes/fromuser">
                Your routes
              </a>
              <a href="/routes/create" class="navbar-item">
                Create route
              </a>
            </div>
            {{/if}}
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons is-flex is-align-content-center">
              <form id="logout-form" action="/auth/logout" method="POST" >
                {{#unless authLoggedIn}}
                  <a href="/auth/signup" class="button is-success">
                    <strong>Sign up</strong>
                  </a>
                  <a href="/auth/login" class="button is-light">
                    Log in
                  </a>
                {{/unless}}
                {{#if authLoggedIn}}
                  <button type="submit" class="button is-light" >Log out</button>
                {{/if}}
              </form>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>