<form action="/auth/profile/:id/edit" method="post">
<label for="">Username</label>
<input type="text" name="username" id="">

<label for="">Email</label>
<input type="text" name="email" id="">

<label for="">Profile Picture</label>
<input type="file" name="profilePicture" />

</form>
