<div class="is-flex is-justify-content-center py-6">

<div class="box column is-two-thirds">


<div class="tile is-parent" >
      <article class="tile is-child notification is-danger py-6">
          <h2 class="title is-1 has-text-centered">403</h2>
        <p class="subtitle has-text-centered">You are not allowed to modify this element!</p>
        <div class="has-text-centered">
        <a class="button is-warning is-rounded is-light" href="/routes/fromuser">Go back to your routes</a>
        </div>
      </article>
    </div>
  </div>
</div>
</div>